.stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.star {
  position: absolute;
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: twinkle 2s infinite;
  transition: all 0.5s ease-in-out;
}


@keyframes twinkle {
  0%, 100% { opacity: 0.8; }
  50% { opacity: 0.1; }
}
