.SimpleMessage{
    color: #E5E5E5;
    font-size: 1.3rem;
    text-align: left;
    z-index: 2;
    font-family: 'Poppins', serif;
    font-weight: 500;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.SimpleMessage:hover{
    animation: textStar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.HomeBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.HomeMessage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 40rem;
    z-index: 1;
    gap: 10rem;
}

.UsefulThings{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.UsefulThings > Button{
    font-size: 2rem;
    padding: 1.2rem 2rem 1.2rem 2rem;
    width: 12rem;
    transition: all 0.5s ease-in-out;
}

.QuickSections{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.QuickSectionsButtons{
    padding: 1rem 2rem 1rem 2rem;
}

@media (max-width: 800px) {
    .SimpleMessage{
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 1.15rem;
    }

    .UsefulThings > Button{
        font-size: 1.6rem;
        padding: 0.8rem 1.2rem 0.8rem 1.2rem;
        width: 8rem;
    }
}

@media (max-width: 600px) {
    .SimpleMessage{
        margin-left: 1.2rem;
        margin-right: 1.2rem;
        font-size: 1rem;
    }

    .UsefulThings > Button{
        font-size: 1.35rem;
        padding: 0.8rem 1.2rem 0.8rem 1.2rem;
        width: 8rem;
    }

    .QuickSections{
        gap: 1rem;
        margin-top: 1.3rem;
    }

    .QuickSectionsButtons{
        font-size: 1.35rem;
        padding: 0.7rem 1rem 0.7rem 1rem;
        width: 9rem;
    }
}

@keyframes textStar {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }
}