html {
  background-color: #101b31;
}

body {
  margin: 0;
  min-height: 100%;
  background: linear-gradient(180deg, #04080c, #101b31);
  background-repeat: no-repeat;
  color: #fff;
  font-family: Poppins, sans-serif;
}

html, body {
  overscroll-behavior: none;
}