html {
  scroll-behavior: smooth;
}

.EducationSummaryTitle{
    color: #e2e2e2;
    font-size: 2rem;
    font-family: 'Poppins', serif;
    font-weight: 500;
}

.EducationContentBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.EducationSummarySection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 5rem;
}

.EducationSummarySection > div{
    width: 33vw;
    background-color: #070e14b7;
    border-radius: 3rem;
    padding: 2rem;
    color: #e2e2e2;
    font-family: 'Poppins', serif;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.EducationSummarySection > div > h4{
    color: #e2e2e2;
    font-family: 'Poppins', serif;
    font-weight: 500;
    margin: 0;
    font-size: 1.1rem;
}

.EducationSummarySection > div > p{
    color: #e2e2e2;
    font-family: 'Poppins', serif;
    font-weight: 300;
    margin: 0;
    font-size: 1rem;
}

.ViewMoreEducation{
    color: #e2e2e2;
    font-family: 'Poppins', serif;
    font-size: 1.3rem;
    font-weight: 400;
    background: linear-gradient(90deg, #e2e2e2 25%, #162542, #e2e2e2 75%);
    background-size: 200% 100%;
    animation-name: Shimmer;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    position: relative;
    bottom: 1rem;
}

.ArrowDown{
    position: relative;
    width: 0.5rem;
    height: 3rem;
    background-color: #e2e2e2;
    border-radius: 10rem;
    transform: rotate(-40deg);
}

.ArrowDownTwo{
    position: relative;
    width: 0.5rem;
    height: 3rem;
    background-color: #e2e2e2;
    border-radius: 10rem;
    transform: rotate(40deg) translateX(0.9rem) translateY(-0.7rem);
}



.ArrowUp{
    position: relative;
    width: 0.5rem;
    height: 2.5rem;
    background-color: #e2e2e2;
    border-radius: 10rem;
    transform: rotate(-45deg) translateX(0.8rem) translateY(0.6rem);
}

.ArrowUpTwo{
    position: relative;
    width: 0.5rem;
    height: 2.5rem;
    background-color: #e2e2e2;
    border-radius: 10rem;
    transform: rotate(45deg) translateX(-0.8rem) translateY(0.6rem);
}

.EducationSeeMoreArrow{
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: UpDownBobble;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction:alternate-reverse;
    cursor: pointer;
    margin-bottom: 1rem;
}

.EducationBackUpArrow{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: UpDownBobble;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction:alternate-reverse;
    cursor: pointer;
    border-radius: 100rem;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
}

.TimelineSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5rem;
}

.TimelineSection > h3{
    color: #e2e2e2;
    font-size: clamp(2rem, 3vw, 20rem);
    margin: 0;
    mask-image: linear-gradient(to top, transparent 1%, white 35%);
}

.TimelineSection > h4{
    color: #e2e2e2;
    font-size: clamp(1rem, 1.5vw, 20rem);
    font-family: 'Poppins', serif;
    font-weight: 400;
    margin-bottom: 4rem;
}

.TimeLineLine{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #e2e2e2;
    width: 1rem;
    height: 100rem;
    border-radius: 10rem;
    margin-bottom: 10rem;
}

.Point{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 2rem;
    height: 2rem;
    background-color: #e2e2e2;
    border-radius: 100rem;
    transition: all 0.5s ease-in-out;
}

.PointSmall:hover{
    scale: 1.1;
}

.PointSmall{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 2rem;
    height: 2rem;
    background-color: #e2e2e2;
    border-radius: 100rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.PointContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    transition: all 0.5s ease-in-out;
}

.Point > .TimelineLeftDesc{
    color: #e2e2e2;
    width: 10rem;
}

.Point > .TimelineRightDesc{
    color: #e2e2e2;
}

.MappedEducationTimeline > div{
    width: 5rem;
    text-align: center;
    color: #e2e2e2;
    font-size: clamp(1.1rem, 0.5vw, 1.5rem);
    font-family: 'Poppins', serif;
    font-weight: 300;
}

.MappedEducationTimeline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    transition: all 1s ease-in-out;
}

.TimelineCross{
    z-index: 1002;
    margin-right: 2.5rem;
    margin-top: 2.5rem;
    transition: all 0.5s ease-in-out;
}

.TimelineCross:hover{
    transform: scale(1.2);
}

.TimeLineExpandedLeaveContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: inherit;
    transition: all 1s ease-in-out;
}

.InnerPoint{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 99%;
    height: 99%;
    background-color: #162542;
    border-radius: 5rem;
    transition: all 1s ease-in-out;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.TimeLineExpandedTitle > h6{
    font-size: clamp(1rem, 4vw, 2rem);
    font-family: 'Poppins', serif;
    font-weight: 500;
    transition: all 1s ease-in-out;
    margin-top: 1rem;
    margin-bottom: 0;
}

.TimeLineExpandedSubTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.TimeLineExpandedSubTitle > div, .TimeLineExpandedSubTitle > p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    font-size: clamp(0.8rem, 1.7vw, 1rem);
}

.Seperator{
    width: 2px;
    height: 100%;
    background-color: #e2e2e2;
    border-radius: 5rem;
}

.TimeLineExpandedMainBody{
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: inherit;
    transition: all 1s ease-in-out;
}

.TleDesc{
    font-size: 1rem;
    margin: 1rem;
}

.TleOtherInformation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: clamp(0.5rem, 1.7vw, 1rem);
    margin-top: 0.5rem;
    transform-origin: top center;
}

.SubMod{
    background-color: #070e14b7;
    padding: clamp(0.6rem, 1.5vw, 1rem);
    border-radius: 5rem;
    transition: all 1s ease-in-out;
    font-size: clamp(0.6rem, 1.5vw, 1rem);
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.SubMod:hover{
    transform: scale(1.02);
    font-weight: 600;
    border: #e2e2e2 1px solid;
    background-color: #e2e2e2;    
    color: #070e14b7;
}

@media (max-width: 600px) {

    .EducationSummarySection{
        gap: 1rem;
    }

    .EducationSummarySection > div{
        width: 15rem;
    }

    .EducationSummarySection > div > h4{
        font-size: 1rem;
    }

    .EducationSummarySection > div > p{
        font-size: 0.9rem;
    }

    .TleDesc{
        font-size: 0.8rem;
    }
}