.ProjectsTitleSection{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    perspective: 1000px;
}

.PageTitleProjects{
    color: #e2e2e2;
    font-size: clamp(3rem, 5vw, 20rem);
    margin: 0;
    font-family: 'Poppins', serif;
    font-weight: 500;
    display: flex;
    gap: 0.05em;
    margin-bottom: 0.5rem;
    mask-image: linear-gradient(to top, transparent 1%, white 35%);
}

.MainProject{
    background-color: #070e14d0;
    width: 33vw;
    height: 33vw;
    color: white;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0rem;
    overflow: visible;
    /* transform: rotate(4320); */
    z-index: 2;
    cursor: pointer;
    transform-style: preserve-3d;
    border: 1px rgba(255, 255, 255, 0.455) solid;
    transform-style: preserve-3d;
    perspective: 800px;
}

.ContentArea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: clamp(0rem, 0.2vw, 1rem);
    width: 95%;
    height: 95%;
    color: white;
    border-radius: 2rem;
    overflow:visible;
    transition: all 0.6s ease-in-out;
    opacity: 1;
}

.ContentArea.Disappear{
    opacity: 0;
    position: absolute;
    z-index: -1000;
}

.ContentTitle{
    background: linear-gradient(90deg, #e2e2e2 25%, #aaaaaa 50%, #e2e2e2 75%);
    background-size: 200% 100%;
    animation-name: Shimmer;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(1rem, 4vw, 1.8rem);
    font-family: 'Poppins', serif;
    font-weight: 500;
    text-align: center;
}

.MainProjectLetter {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
  display: inline-block;
}

.MainProjectLetter.show {
  opacity: 1;
  transform: translateY(0);
}

.ContentAreaBody{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
    font-family: 'Poppins', serif;
    font-weight: 300;
    color: #e2e2e2;
}

.ContentAreaBody > p{
    font-size: clamp(0.5rem, 2.5vw, 0.8rem);
    /* font-size: 0.8rem; */
    text-overflow: ellipsis;
    align-self: flex-start;
    text-align: center;
}

.LeftProject{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #070e14b7;
    width: 25vw;
    height: 25vw;
    color: white;
    border-radius: 2rem;
    margin-right: -1rem;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    text-align: center;
    border: 1px rgba(255, 255, 255, 0.455) solid;
}

.LeftProject:hover, .RightProject:hover, .MainProject:hover{
    border: 1px rgba(255, 255, 255, 0.664) solid;
    scale: 1.005;
}

.RightProject{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #070e14b7;
    width: 25vw;
    height: 25vw;
    color: white;
    border-radius: 2rem;
    margin-left: -1rem;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    text-align: center;
    border: 1px rgba(255, 255, 255, 0.455) solid;
}

.ProjectsMainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #070e14b7;
    gap: 0.5rem;
}

.ProjectsDisplayed.Animated{
    animation-name: UpDownAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.LeftTriangle{
    position: relative;
    width: 0; 
    height: 0; 
    border-right: 40px solid white;
    border-bottom: 23px solid transparent;
    border-top: 23px solid transparent;
    cursor: pointer;
}

.LeftTriangleButton{
    position: relative;
    z-index: 4;
    animation-name: LeftBobble;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
    padding: 0.8rem;
    margin-left: -2.5rem;
    margin-Right: -2.5rem;
}

.RightTriangle{
    position: relative;
    width: 0; 
    height: 0; 
    border-left: 40px solid white;
    border-bottom: 23px solid transparent;
    border-top: 23px solid transparent;
    cursor: pointer;
}

.RightTriangleButton{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 3;
    animation-name: RightBobble;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
    padding: 0.8rem;
    margin-left: -2.5rem;
    margin-Right: -2.5rem;
}

.ProjectsMainSection > .UpDownButtons > div > button{
    background-color: #070e14b7;
    border-radius: 100rem;
    padding: 1.2rem;
    overflow: visible;
    margin-left: -4rem;
    margin-right: -4rem;

}

.ProjectsMainSection > .ProjectsDisplayed > article > div > button{
    background-color: #070e14b7;
    border-radius: 100rem;
    padding: 1.2rem;
    overflow: visible;
    margin-left: -2rem;
    margin-right: -2rem;

}

.LeftAlignedButton{
    display: flex;
    align-items: flex-start;
}

.RightAlignedButton{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.UpDownButtons{
    scale: 0.9;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    z-index: 2000;
}

.UpTriangle{
    position: relative;
    width: 0; 
    height: 0; 
    border-left: 23px solid transparent;
    border-bottom: 40px solid white;
    border-right: 23px solid transparent;
    cursor: pointer;
}

.UpTriangle:hover{
    animation-name: Spin;
    animation-iteration-count: 1;
    animation-duration: 1s;
    background-clip: text;
    cursor: pointer;
}

.UpTriangleButton{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: all 2.5s ease-in-out;
    animation-name: UpDownBobble;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction:alternate-reverse;
}

.UpAlignedButton{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    transition: all 2.5s ease-in-out;
}

.DownTriangle{
    position: relative;
    width: 0; 
    height: 0; 
    border-left: 23px solid transparent;
    border-top: 40px solid white;
    border-right: 23px solid transparent;
    cursor: pointer;
}

.DownTriangle:hover{
    animation-name: Spin;
    animation-iteration-count: 1;
    animation-duration: 1s;
    background-clip: text;
    cursor: pointer;
}

.DownTriangleButton{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: all 2.5s ease-in-out;
    animation-name: UpDownBobble;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}

.DownAlignedButton{
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    height: 100vh;
    transition: all 2.5s ease-in-out;
}

.ProjectsMainSection > .ProjectsDisplayed > button > div, .ProjectsMainSection > .UpDownButtons > div > button > div{
    height: 50px;
    width: 50px;
}

.UpDownButtons > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 3rem;
    transition: all 2.5s ease-in-out;
}

.ContentArea > img{
      transition: all 0.6s ease;
}

.ProjectsDisplayed{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ProjectViewMore{
    font-size: 1.5rem;
    background: linear-gradient(90deg, #e2e2e2 25%, #162542, #e2e2e2 75%);
    background-size: 200% 100%;
    animation-name: Shimmer;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-family: 'Poppins', serif;
    font-weight: 400;
}

.ProjectViewMore:hover{
    font-size: 1.5rem;
    background: linear-gradient(90deg, #e2e2e2 25%, #101b31, #e2e2e2 75%);
    background-size: 200% 100%;
    animation-name: Shimmer;
    animation-iteration-count: infinite;
    animation-duration: 0.7s;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.ProjectLinkContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
	margin: 0 0 2rem 0;
}

.ProjectImg{
    transition: 0.5s ease-in-out;
}

.ProjectImg:hover{
    scale: 1.02;
}

.BaseMainProjectContainer, .DisplayedWindow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.DisplayedWindow{
    /* background-color: rgba(0, 0, 0, 0.61); */
    background: linear-gradient(180deg, #04080ced, #101b314d);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    /* transition: all 1s ease-in-out; */
}

.DefaultButton{
    transition: all 0.2s ease-in-out;
}

.DisplayedWindow > article{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    border-radius: 5rem;
    z-index: 1001;
    font-family: 'Poppins', serif;
    font-weight: 500;
    transition-delay: 1s;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
    background-color: #070e1475;
}

.DisplayedWindow > article > div > img{
    max-width: none;
    height: auto;
}

.DisplayedWindow > article > div{
    width: auto;
    height: inherit;
    overflow: scroll;
    scrollbar-width: none;
    font-family: 'Poppins', serif;
    font-weight: 500;
}

.Cross{
    position: fixed;
    top: 3rem;
    right: 2rem;
    z-index: 1002;
    height: inherit;
}

.ProjectImageBackButton{
    position: fixed;
    top: 3rem;
    left: 2rem;
    z-index: 1002;
    height: inherit;
    cursor: pointer;
}

.ProjectBackLineOne{
    background-color: #E5E5E5;
    border-radius: 5rem;
    height: 0.3rem;
    width: 1.3rem;
    transform: translateY(-10%) rotate(-40deg);
}

.ProjectBackLineTwo{
    background-color: #E5E5E5;
    border-radius: 5rem;
    height: 0.3rem;
    width: 1.3rem;
    transition: all 0.5s ease-in-out;
    transform:  translateY(100%)  rotate(40deg);
}

.DisplayedWindowData{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.6s ease;
}

.DisplayedWindowData.FadeIn {
    opacity: 1;
}

.DisplayedWindowTitle{
    color: white;
    font-size: 2rem;
    font-family: 'Poppins', serif;
    font-weight: 500;
    text-align: center;
}

.DisplayedWindowMainDesc{
    color: #e2e2e2;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    margin-bottom: 3rem;
    font-family: 'Poppins', serif;
    font-weight: 500;
}

.DisplayedWindowBody{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
}

.DisplayedWindowBodyRow1, .DisplayedWindowBodyRow2, .DisplayedWindowBodyRow3, .DisplayedWindowBodyRow4, .DisplayedWindowBodyRow5{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #e2e2e2;
    font-family: 'Poppins', serif;
    font-weight: 300;
}

.ProjectTryItOut{
    color: #e2e2e2;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    background: linear-gradient(90deg, #e2e2e2 25%, #101b31, #e2e2e2 75%);
    background-size: 200% 100%;
    animation-name: Shimmer;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.ProjectGithubLink{
    color: #e2e2e2;
    background: linear-gradient(90deg, #e2e2e2 25%, #102831, #e2e2e2 75%);
    background-size: 200% 100%;
    animation-name: Shimmer;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.ProjectGithubLink:hover{
    scale: 1.05;
}

.ProjectSkillSection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ProjectSkillCarouselContainer{
    overflow: hidden;
    width: 80%;
    position: relative;
}

.ProjectSkillCarouselTrack{
    align-items: center;
    display: flex;
    /* gap: 2rem; */
    height: 3rem;
    justify-content: flex-start;
    width: -webkit-max-content;
    width: max-content;
    margin-bottom: 2rem;
    animation: ScrollLeft 15s linear infinite;
    transition: all .5s ease-in-out;
}

.ProjectSkills{
    align-items: center;
    background: none;
    /* border: 1px solid #ffffff; */
    background-color: #1e2a38;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    gap: 1rem;
    height: 80%;
    justify-content: center;
    padding: 0.2rem 1.5rem 0.2rem 1.5rem;
    transition: all .5s ease-in-out;
    white-space: nowrap;
    margin: 0rem 0.5rem;
}

.ContentAreaBodyImage1, .ContentAreaBodyImage2{
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    z-index: 5rem;
    transition: all 0.3s ease;
}

.DisplayArticle{
    z-index: 3;
}

.SeperatorLine{
    height: 2px;
    width: 85%;
    background-color: #e2e2e2;
    border-radius: 10rem;
    margin-bottom: 3rem;
}

.MiniSeperatorLine{
    height: 2px;
    width: 75%;
    background-color: #e2e2e2;
    border-radius: 10rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.DisplayedWindowData.FadeIn{
    cursor: default;
}

@media (max-width: 800px) {
    .PageTitleProjects{
        margin-bottom: 3rem;
    }

    .RightTriangleButton{
        padding: 0.5rem;
        margin-left: -2rem;
    }

    .LeftTriangleButton{
        padding: 0.5rem;
        margin-right: -2rem;
    }

    .ProjectsMainSection > .UpDownButtons > div > button{
        padding: 0.5rem;
    }

    .DownTriangle, .UpTriangle, .LeftTriangle, .RightTriangle{
        scale: 0.8;
    }

    .DisplayedWindowMainDesc{
        font-size: 0.8rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .DisplayedWindowBodyRow1 > p, .DisplayedWindowBodyRow2 > p, .DisplayedWindowBodyRow3 > p, .DisplayedWindowBodyRow4 > p{
        font-size: 0.8rem;
    }

    .MiniSeperatorLine{
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    .Cross{
        top: 1.5rem;
        right: 1rem;
    }

    .DisplayedWindow > article{
        width: 95%;
        height: 85%;
    }

    .DisplayedWindow > article{
        border-radius: 3rem;
    }

}

@keyframes ScrollLeft {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes UpDownAnimation {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(200%);
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes UpDownBobble{
    0%{
        transform: translateY(5%);
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes RightBobble{
    0%{
        transform: translateX(5%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes LeftBobble{
    0%{
        transform: translateX(-5%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes Spin{
    0%{
        transform: rotateY(720deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}

img{
    max-width: 100%;
    height: auto;
}

